/* General  ---------------------------------------------- */

body {
    background-image: url(../img/back.webp); 
    width: 100%;
}



/* navbar----------- */
li {
    list-style-type: none;
}



/* button ----------- */
.colorButton{
    -webkit-box-shadow:0px 0px 7px 1px rgba(45,255,196,0.8);
    -moz-box-shadow: 0px 0px 7px 1px rgba(45,255,196,0.8);
    box-shadow: 0px 0px 7px 1px rgba(45,255,196,0.8);
    background-color :#24a781;
    color : white;
    border : none;
}

.colorButton:hover{
    -webkit-box-shadow:0px 0px 10px 3px rgba(41, 233, 179, 0.8);
    -moz-box-shadow: 0px 0px 10px 3px rgba(41, 233, 179, 0.8);
    box-shadow: 0px 0px 10px px rgba(41, 233, 179, 0.8);
    background-color :rgb(44, 216, 167);
    color : white;
    border : none;
}

.colorSecondButton{
    color:rgba(12, 158, 117, 0.8);
    background-color:white;
}

.colorSearch{
    -webkit-box-shadow:0px 0px 7px 1px rgba(45,255,196,0.8);
    -moz-box-shadow: 0px 0px 7px 1px rgba(45,255,196,0.8);
    box-shadow: 0px 0px 7px 1px rgba(45,255,196,0.8);
}

/* login ---------------------------------------------- */

.formStyle{
    margin: auto;
    width: 40vw;
    height: 50vh;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    box-sizing: border-box;
    border: 0.4px solid rgba(46, 255, 196, 0.302);  
    border-radius: 15px;
}

.visualLink{
    text-decoration: none;
    color:rgba(45,255,196,0.8);
}


/* array for crud ---------------------------------------------- */
.sizeColumnAction {
    width: 10%;
}