/* General  ---------------------------------------------- */

body {
    background-image: url(../img/back.webp);
    background-attachment: fixed, scroll;
    width: 100%;
    margin-top: 12vh;
}


/* navbar----------- */
li {
    list-style-type: none;
}

.navbar {
    background-color: rgba(2, 2, 2, 0);
    transition: 300ms ease-in-out;
}

.navbar.scrolled {
    background-color:rgba(0, 0, 0, 0.466);
    backdrop-filter: blur(4px);
    transition: 300ms ease-in-out;
} 


/* array for crud ---------------------------------------------- */
.sizeColumnAction {
    width: 10%;
}

/* carousel ---------------------------------------------- */
.hSize{
    height: 88vh;
}


.hSizeArrayPicture{
    height: 15vh;
}

.hSizeArrayPictureConcertList{
    height: 30vh;
}

.img-fluid {
    object-position:top;
}

/* msg index  */
.positionAbsolute{
    position: absolute;
    top: 20%; left: 50%;
}

.backgroundTable{
    background-color: rgba(0, 0, 0, 0.486);
    border-radius: 15px;
    padding: 15px;
}